@using WebListaPrzebojow.Utils
@model DAL.Piosenka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Piosenka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IleOdsluchan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IleOdsluchan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatunek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatunek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PiosenkaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PiosenkaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.album)
        </dt>
        <dd class="col-sm-10">
            
            @GlobalFunctions.GetAlbumNameById(Model.AlbumID)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PiosenkaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
