@using WebListaPrzebojow.Utils
@model IEnumerable<DAL.Piosenka>

@{
    ViewData["Title"] = "Index";
}

<h1 class="centered">Index</h1>

<p class="centered">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IleOdsluchan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gatunek)
            </th>
            <th>
                Album
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="mx-auto">
            <td>
                @Html.DisplayFor(modelItem => item.IleOdsluchan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gatunek)
            </td>
            <td>
              
                @GlobalFunctions.GetAlbumNameById(item.AlbumID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PiosenkaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PiosenkaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PiosenkaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
